/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
target/
*.gem

# rspec failure tracking
.rspec_status

# .cargo/config.toml should be used for testing with local version of
# eppo_core but it should not be committed.
/.cargo/config.toml
