name: Rust SDK

on:
  push:
    branches:
      - main
  pull_request:
  workflow_call:
    inputs:
      test_data_branch:
        type: string
        description: The branch in sdk-test-data to target for testcase files
        required: false
      sdk_branch:
        type: string
        description: The branch of the SDK to test
        required: false

env:
  CARGO_TERM_COLOR: always
  SDK_BRANCH: ${{ inputs.sdk_branch || github.ref || 'main' }}
  TEST_DATA_BRANCH: ${{ inputs.test_data_branch || 'main' }}

jobs:
  cargo_build_and_test:
    name: Cargo Build & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: ${{ !inputs.test_data_branch }}
          repository: Eppo-exp/eppo-multiplatform
          ref: ${{ env.SDK_BRANCH }}

      - uses: actions/checkout@v4
        if: ${{ inputs.test_data_branch }}
        with:
          repository: Eppo-exp/sdk-test-data
          ref: ${{ inputs.test_data_branch }}
          path: sdk-test-data

      - run: npm ci
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo build --verbose --all-targets --workspace

      - run: cargo test --verbose --workspace
      - run: cargo doc --verbose

      # Add WASM target
      - run: rustup target add wasm32-wasi
      # Build WASM target separately
      - run: cargo build --verbose --target wasm32-wasi
        working-directory: fastly-edge-assignments
